table{
  margin-top:0;
  width:85vw
}
.cellcenter{
  text-align:center;
  width:0.5vw
}
.platform{
  width:10vw
}
.rating{
  width:7vw
}
.id{
  width:3vw
}
.genres{
  width:7vw
}
.boxfilter{
  height:5vh;
  align-content: center;
  justify-content: center;
  color : white;
  font-weight: bold;
  font-size: 0.80vw;
  margin-bottom:0;
}
.form-check{
  align-content:center
}
.white-icon {
  color: white;
}
