<div class="filtersContainer">

  <app-iconbar (update)="onUpdate($event)"></app-iconbar>

  <mat-form-field class="w-100" appearance="fill" floatLabel="always">
    <mat-label>Filter by Title</mat-label>
    <input matInput placeholder="Title" value="" [(ngModel)]="filterTitle" (input)="applyFilters()">
  </mat-form-field>

  <div class="filtersDiv">

    <mat-form-field class="w-100" appearance="fill" floatLabel="always">
      <mat-label>Platform</mat-label>
      <mat-select [(ngModel)]="filterPlatform" (selectionChange)="applyFilters()">
        <mat-option value="">All Platforms</mat-option>
        @for (p of platforms; track p) {
          <mat-option [value]="p">{{ p.replaceAll('_', ' ') }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="fill" floatLabel="always">
      <mat-label>Rating</mat-label>
      <mat-select [(ngModel)]="filterRating" (selectionChange)="applyFilters()">
        <mat-option value="">All Ratings</mat-option>
        @for (r of ratings; track r) {
          <mat-option [value]="r">{{ r.replaceAll('_', ' ') }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="fill" floatLabel="always">
      <mat-label>Difficulty</mat-label>
      <mat-select [(ngModel)]="filterDifficulty" (selectionChange)="applyFilters()">
        <mat-option value="">All Difficulties</mat-option>
        @for (d of difficulties; track d) {
          <mat-option [value]="d">{{ d.replaceAll('_', ' ') }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

  </div>

  <div class="boxfilter mt-1">
    <div class="form-check form-check-inline">

      <input type="checkbox" class="form-check-input" id="fangameFilter" [(ngModel)]="filterFangame" (change)="applyFilters()">
      <label class="form-check-label" for="fangameFilter">Fangame</label> </div> <div class="form-check form-check-inline">

      <input type="checkbox" class="form-check-input" id="favouriteFilter" [(ngModel)]="filterFavourite" (change)="applyFilters()">
      <label class="form-check-label" for="favouriteFilter">Favourite</label>

    </div>
  </div>
</div>
<div style="width:90vw; margin-top:2vh; color: white">
  @if(filteredGames.length == 0){
    <h1>No Videogames. Too Bad !</h1>
  }@else {
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th class="tableheader">ID</th>
          <th class="tableheader">TITLE</th>
          <th class="tableheader">PLATFORM</th>
          <th class="tableheader">
            RATING
            <button mat-icon-button (click)="toggleRatingSort()">
              <mat-icon class="white-icon">
                {{ ratingSort === 'asc' ? 'arrow_upward' : ratingSort === 'desc' ? 'arrow_downward' : 'swap_vert' }}
              </mat-icon>
            </button>
          </th>
          <th class="tableheader">
            DIFFICULTY
            <button mat-icon-button (click)="toggleDifficultySort()">
              <mat-icon class="white-icon">
                {{ difficultySort === 'asc' ? 'arrow_upward' : difficultySort === 'desc' ? 'arrow_downward' : 'swap_vert' }}
              </mat-icon>
            </button>
          </th>
          <th class="tableheader">GENRES</th>
          <th class="tableheader">FANGAME</th>
          <th class="tableheader">FAVOURITE</th>
          <th class="tableheader"></th>
          <th class="tableheader"></th>
        </tr>
      </thead>
      <tbody>
        @for (game of filteredGames; track game.id) {
          <tr>
            <td class="id">{{ game.id }}</td>
            <td>{{ game.title }}</td>
            <td class="platform">{{ game.platform.replaceAll("_"," ") }}</td>
            <td class="rating">{{ game.rating.replaceAll('_', ' ') }}</td>
            <td class="difficulty">{{ game.difficulty.replaceAll('_', ' ') }}</td>
            <td class="cellcenter">
              <div class="d-flex flex-wrap gap-1 justify-content-center genres">
                @for (genre of game.genres; track genre) {
                  <span class="badge bg-secondary">
                    {{ genre.replaceAll('_', ' ') }}
                  </span>
                }
              </div>
            </td>
            <td class="cellcenter">
              @if(game.fangame){
                &#x2705;
              }
            </td>
            <td class="cellcenter">
              @if(game.favourite){
                &#x2B50;
              }
            </td>
            <td class="cellcenter">
              <button (click)="editVideogame(game)" class="btn btn-primary">EDIT</button>
            </td>
            <td class="cellcenter">
              <button (click)="deleteVideogame(game.id!)" class="btn btn-danger">X</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
