<app-iconbar (update)="onUpdate($event)"></app-iconbar>
@if(videogames.length == 0){
  <h1>No Videogames. Too Bad !</h1>
}@else {
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>PLATFORM</th>
        <th>RATING</th>
        <th>COLLECTION</th>
        <th>FANGAME</th>
        <th>FLASH</th>
        <th>FAVOURITE</th>
        <th>DELETE</th>
      </tr>
    </thead>
    <tbody>
      @for (game of videogames; track game.id) {
        <tr>
          <td class="id">{{ game.id }}</td>
          <td>{{ game.title }}</td>
          <td>{{ game.platform.replaceAll("_"," ") }}</td>
          <td class="rating">{{ game.rating }}</td>
          <td class="cellcenter">
            @if(game.collection){
              &#x2705;
            }
          </td>
          <td class="cellcenter">
            @if(game.fangame){
              &#x2705;
            }
          </td>
          <td class="cellcenter">
            @if(game.flash){
              &#x2705;
            }
          </td>
          <td class="cellcenter">
            @if(game.favourite){
              &#x2B50;
            }
          </td>
          <td class="cellcenter">
            <button (click)="deleteVideogame(game.id)" class="btn btn-danger">X</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
