.filtersContainer{
  width:90vw;
  padding:10px;
  border-radius: 15px;
}
.filtersDiv{
  width:100%;
  display:flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start
}

table{
  margin-top:0;
  width:100%;
}
.id{
  width:3vw
}
.platform{
  width:10vw
}
.rating{
  width:6vw
}
.difficulty{
  width:7vw
}
.genres{
  width:7vw
}
.cellcenter{
  text-align:center;
  width:0.5vw
}

.boxfilter{
  height:5vh;
  align-content: center;
  justify-content: center;
  color : white;
  font-weight: bold;
  font-size: 0.80vw;
  margin-bottom:0;
  display:flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}
.form-check{
  align-content:center
}
.white-icon {
  color: white;
}
