.cellcenter{
  text-align:center;
  vertical-align:middle;
}
.smallcell{
  width:3vw
}
table{
  margin-left:auto;
  margin-right:auto;
  width:90vw
}
h1{
  text-align:center
}
button{
  font-size:2vw;
  padding-left:1vw;
  padding-right:1vw;
  border-radius:100%;
  transition:0.05s
}

button:active{
  transform:scale(0.9)
}
