#maintable{
  display:flex;
  text-align:center;
  justify-content: center;
  /*background-color:blue;*/ /*DEBUG*/
  padding:1vw;
  border-radius:10px;
  margin-bottom:5vh;
  width:90vw;
  margin-left:auto;
  margin-right:auto;
}
