<h2 mat-dialog-title>Create Item</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Platform</mat-label>
    <mat-select formControlName="platform">
      @for (p of platforms; track p) {
        <mat-option [value]="p">{{ p.replaceAll("_"," ") }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Rating</mat-label>
    <mat-select formControlName="rating">
      @for (r of ratings; track r) {
        <mat-option [value]="r">{{ r.replaceAll("_"," ") }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Difficulty</mat-label>
    <mat-select formControlName="difficulty">
      @for (d of difficulties; track d) {
        <mat-option [value]="d">{{ d.replaceAll("_"," ") }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Genres</mat-label>

    <mat-chip-grid #chipGrid formControlName="genres">
      @for(genre of form.controls.genres.value; track $index){
        <mat-chip-row (removed)="removeGenre(genre)">
          {{ genre }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <input
        placeholder="Add genre"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="[13,188]"
        (matChipInputTokenEnd)="addGenre($event)" />
  </mat-form-field>

  <mat-checkbox formControlName="fangame">Fangame</mat-checkbox>
  <br />
  <mat-checkbox formControlName="favourite">Favourite</mat-checkbox>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="submit()"
    [disabled]="form.invalid"
  >
    Submit
  </button>
</mat-dialog-actions>
